{% extends 'pizza/base.html' %}
{% block body %}
<div class="container">
<div class="messages">
{% if messages %}
<div class="">
{% for message in messages %}
<p{% if message.tags %} class="text-center alert alert-{{
message.tags }}" {% endif %}>
{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important:{%endif %}
{{ message }}
</p>
{% endfor %}
</ul>
</div>
{% endif %}
</div>
<form action="{% url 'edit_order' pizza.id %}" method="post">
{% csrf_token %}
{{ pizzaform.as_p }}
<input type="submit" value="Edit Order">
</form>
</div>
{% endblock body %}